.signup-container {
    max-width: 300px;
    margin: 80px auto;
    padding: 20px;
    background-color: #3a7bd5;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(10, 10, 10, 10.05);
    text-align: center;
}

.signup-container h2 {
    color: var(--primary-color);
    margin-bottom: 30px;
}

.signup-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.signup-form input,
.signup-form select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.signup-form input:focus,
.signup-form select:focus {
    border-color: #00d2ff;
    outline: none;
}

.signup-form .btn-primary {
    width: 100%;
    margin-top: 15px;
}

.signup-form .link {
    display: block;
    margin-top: 15px;
    color: #00d2ff;
    text-decoration: none;
    font-size: 0.95rem;
}

.signup-form .link:hover {
    color: #00d2ff;
}

.logo img {
    height: 80px;
    margin-right: 0px;
}